# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
next-dev.log
next-dev.err.log

# env
.env*
!.env.example

# editor / os
.vs/
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts
